.container {
  width: 100%;
  @media only screen and (min-width: 768px) {
    padding: 10% 0;
    .title {
      font-size: 2vw;
    }
  }
}

.title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  color: hsl(210, 4%, 67%);
  letter-spacing: 5px;
  font-size: 4vw;
}

.review_text {
  font-size: 4vw;
  font-weight: 600;
  line-height: 150%;
}

.review {
  margin-top: 10%;
  padding: 0 7%;
  .name {
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-size: 5vw;
  }
  .role {
    color: hsl(210, 4%, 67%);
    font-size: 3.5vw;
  }
  img {
    border-radius: 50%;
    width: 20%;
  }

  @media only screen and (min-width: 768px) {
    margin-top: 5%;

    width: auto;
    padding: 0 2%;

    img {
      width: 8vw;
    }
    .role {
      font-size: 1.1vw;
    }

    .name {
      font-size: 2vw;
    }
    .review_text {
      font-size: 1.5vw;
    }
  }
}

.reviews_container {
  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
